{% extends "base.html" %}
{% block content %}
<br><br>
    <div class="page-header">
        <h1>Przeczytaj uważnie tekst i odpowiedz na pytania.</h1>
    </div>

        <div class="container"  style="background-color:white;">
            <h2 style="text-align: center;">CELIAKIA</h2>
        <p>Celiakia (choroba trzewna) to trwająca całe życie autoimmunologiczna choroba o podłożu genetycznym, charakteryzująca się trwałą nietolerancją glutenu – białka zapasowego zawartego w zbożach (pszenicy, życie, jęczmieniu). Działający toksycznie gluten prowadzi do zaniku kosmków jelita cienkiego, maleńkich wypustek błony śluzowej, które zwiększają jego powierzchnię i są odpowiedzialne za wchłanianie składników odżywczych.
        W efekcie toksycznego działania glutenu wchłanianie pokarmu jest upośledzone, co prowadzi do wystąpienia różnorodnych objawów klinicznych. Jedyną metodą leczenia celiakii jest stosowanie przez całe życie ścisłej diety bezglutenowej. Celiakia nie jest alergią, choć często jest z nią mylona. […]</p>
        <p>Choroba może ujawnić się w każdym wieku, zarówno wkrótce po wprowadzeniu glutenu do diety dziecka, jak również podczas dorastania, ciąży u kobiet, dużego stresu itd. Obecnie najczęściej wykrywa się celiakię u osób 30-50-letnich, choć zdarzają się przypadki choroby u osób 80-letnich. U kobiet celiakię rozpoznaje się dwa razy częściej niż u mężczyzn. […]
            <p>Celiakia jest jedną z najczęstszych nietolerancji pokarmowych człowieka. Jak już wspomniano, badania nad jej występowaniem szacują częstość zachorowań na przynajmniej 1:100 osób. Niestety w Polsce wykrywa się jedynie niewielki odsetek wszystkich przypadków. […]</p>
            <p>Objawy choroby mogą być bardzo różne […]. Do niedawna uważano, że charakterystycznym przejawem celiakii zarówno u dzieci, jak i dorosłych jest przewlekła biegunka i spadek masy ciała. […] Choroba trzewna w 90% przypadków daje wiele innych dolegliwości, często zupełnie z nią nie kojarzonych, a będących efektem zaburzonego wchłaniania składników odżywczych przez organizm i powiązanych ze sobą procesów autoimmunologicznych.</p>
        <p>Celiakia jawna, pełnoobjawowa to najczęściej:</p>
            <ul>
                <li>bóle, wzdęcia, powiększenie obwodu brzucha</li>
                <li>biegunki tłuszczowe lub wodniste, czasem zaparcia</li>
                <li>utrata masy ciała</li>
                <li>zaburzenia rozwoju u dzieci, w tym głównie niski wzrost</li>
                <li>zmiana usposobienia (nadpobudliwość lub męczliwość i apatia), często stany depresyjne</li>
                <li>objawy niedoborowe (głównie żelaza, ale też witamin, kwasu foliowego), będące efektem zespołu złego wchłaniania</li>
                <li>uczucie stałego zmęczenia</li>
            </ul>
            <p>Celiakia skąpoobjawowa, którą dużo trudniej rozpoznać, głównie z powodu niespecyficznych, pozajelitowych, czasem pojedynczych objawów, występuje znacznie częściej. Choroba może rozwijać się skrycie przez wiele lat, wywołując schorzenia pozornie niezwiązane z celiakią, a często będące jej jedynym objawem.</p>
    <br><br>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1 col-md-offset-5">
            <a href="/form" class="btn btn-lg btn-default">Przejź do testu</a>
        </div>
    </div>
  <br><br>

{% endblock %}